<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="authenticationService">
      <section name="mongoDb"
               type="Dollar.Authentication.Data.Configuration.MongoDbConfiguration, Dollar.Authentication.Data" />
      <section name="service"
               type="Dollar.Authentication.Data.Configuration.ServiceConfiguration, Dollar.Authentication.Data" />
    </sectionGroup>
  </configSections>
  <authenticationService>
    <mongoDb database="Sandbox"
             connectionString="mongodb://web_user:Password1@dogen.mongohq.com:10037/Sandbox" />
    <service name="authentication.test" />
  </authenticationService>
</configuration>